.cummunity__title {
  position: absolute;
  z-index: 1000;
  height: 125px;
  width: 170px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-top: 60px;
  margin-left: 5%;
  padding: 5px;
  flex: 1;
}

.more__title {
  position: absolute;
  z-index: 1000;
  height: 155px;
  width: 170px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-top: 60px;
  margin-left: 15%;
  padding: 5px;
  flex: 1;
}

.profile__title {
  position: absolute;
  z-index: 1000;
  height: 250px;
  width: 170px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-top: 60px;
  margin-left: 65%;
  padding: 5px;
  flex: 1;
}

.more__title > h1 {
  cursor: pointer;
  color: gray;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}

.cummunity__title > h1 {
  cursor: pointer;
  color: gray;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}

.profile__title > h1 {
  cursor: pointer;
  color: gray;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}

.cummunity__title > h1:hover {
  cursor: pointer;
  color: #1dbf73;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}

.more__title > h1:hover {
  cursor: pointer;
  color: #1dbf73;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}

.profile__title > h1:hover {
  cursor: pointer;
  color: #1dbf73;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}
