.profileFeed {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.profileFeed > .profileFeed__top {
  height: 80px;
  width: 90%;
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profileFeed > .profileFeed__top > h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  margin-left: 20px;
}
.profileFeed > .profileFeed__top > .top__border {
  width: 120px;
  height: 5px;
  background-color: #1dbf73;
  margin-left: 20px;
}
.profileFeed > .profileFeed__bottom {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
